#view{
    border-collapse: collapse;
    width:100%;
    max-width: 600px;
    margin: auto;
}

#view td{
    border:1px solid #000;
    width: 20%;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    background-color: #f2f2f2;

}

#view tr:first-child td{
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

#view tr:nth-child(4) td:nth-child(3){
    color: #fff;
    font-weight: bold;
}


.marked{
    background-color: #f00 !important;
    color: #fff;
}